<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://udemy.com">The Complete RoR Developer Course</a>
      participated by <a href="https://c9.io/johannes106">Johannes106</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>